@charset "UTF-8";

/* TOPO BIKE INDIVIDUAL */

.titulo-branco.bike-solo {
    text-transform: none;
}

.subtitulo.bike-solo {
    font-size: 3.2rem;
    padding-bottom: 5px;
}


/* FICHA TECNICA BIKE */

.info-bike {
    padding: 0 calc((100% - 1200px) / 2);
    background: var(--cor07);
    display: flex;
}

.box-img-bike-solo {
    margin: 0 20px;
    flex: 1 1 50%;
}

.box-infos-bike {
    margin: 0 20px;
    flex: 1 1 50%;
}

.box-tec-vantagem.bike-solo {
    padding: 30px;
    margin: 70px 0;
    background: var(--cor01);
    flex-wrap: wrap;
}

.tec-vantagem.bike-solo {
    padding-top: 0;
    flex: 1 1 50%;
}

.tec-vantagem:nth-child(n + 3) {
    padding-top: 20px;
}

.tec-vantagem:nth-child(2n + 1) {
    padding-right: 10px;
}

.tec-vantagem.bike-solo:first-child {
    margin-right: 0px;
}


/* FICHA TECNICA */

.box-ficha-tec {
    background: var(--cor01);
    padding: 30px;
}

.ficha-tec li p {
    color: var(--cor03);
}

.ficha-tec li span {
    color: var(--cor10);
}


/* ESCOLHA BIKE INDIVIDUAL*/

.escolha.bike-solo {
    padding: 0 calc((100% - 1200px) / 2);
}

.tec-vantagem.bike-solo p {
    font-size: 1.4rem;
}