@charset "UTF-8";
.container-escolhas {
    display: flex;
    justify-content: space-between;
}

.titulo-orc {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.titulo-orc::before {
    content: '';
    display: inline-block;
    height: 9px;
    width: 4px;
    background: var(--cor04);
    position: absolute;
    left: -10px;
    bottom: 26px;
}

label {
    border-radius: 5px;
}

.item-orcamento {
    width: 100%;
    height: max-content;
}

.item-orcamento:first-child {
    margin-right: 20px;
}

.bike-escolha {
    display: inline-block;
    background: var(--cor02);
    padding: 15px 30px;
    margin-bottom: 30px;
    width: 100%;
}

.bike-escolha.produtos {
    margin-bottom: 20px;
}


/* QUADRADO CONFIG BIKES */

.orcamento-bikecraft {
    display: none;
}

.config-bike-orc {
    display: none;
    padding: 20px;
    background: var(--cor02);
    border-radius: 5px;
}

.config-bikecraft ul {
    flex: 1 1 47%;
}

.config-bikecraft ul li {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.config-bikecraft ul li p {
    color: var(--cor06);
}

.config-bikecraft ul li img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.img-bike-orc {
    flex: 1 1 53%;
}

.img-bikecraft img {
    height: 100%;
    object-fit: cover;
}