@charset "UTF-8";

/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.5em;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}


/*body::-webkit-scrollbar { 
    display: none; 
}*/

:root {
    --cor01: #000000;
    --cor02: #FFFFFF;
    --cor03: #B2B2B2;
    --cor04: #FFBB00;
    --cor05: #332200;
    --cor06: #595959;
    --cor07: #111111;
}


/* HEADER */

header {
    background: var(--cor01);
}

.box-menu {
    max-width: 1200px;
    padding: 30px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list-menu {
    display: flex;
    flex-wrap: wrap;
}

.list-menu li {
    padding-left: 40px;
}

.list-menu a {
    display: inline-block;
    color: var(--cor02);
    font-size: 1.125em;
    position: relative;
}

.list-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: currentColor;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.list-menu a:hover::after {
    width: 100%;
    color: var(--cor04);
}


/* INTRODUÇÃO */

.introducao {
    background: var(--cor01) url('../img/icones/bottom-left.svg') no-repeat left 20px bottom 150px;
    box-shadow: inset 0px 0px var(--cor02), inset 0px -120px var(--cor02);
    padding: 0px calc((100% - 1200px) / 2);
    display: flex;
}

.box-introducao {
    display: flex;
    flex-wrap: wrap;
}

.img-intro {
    object-fit: cover;
    height: 100%;
}

.intro-item {
    padding: 0 20px;
    flex: 1 1 363px;
}

.intro-artigo {
    align-self: center;
    padding-bottom: 150px;
}

.intro-artigo h1 {
    font-size: 4em;
    color: var(--cor02);
    padding: 30px 0;
}

.intro-artigo h1::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 5px;
    background: var(--cor04);
}

.intro-artigo p {
    font-size: 1.5em;
    color: var(--cor03);
    padding-bottom: 20px;
}

.box-botao {
    max-width: 211px;
    background: var(--cor04);
    border-radius: 5px;
}

.botao {
    width: 100%;
    background: transparent;
    padding: 16px;
    border-radius: 5px;
    font-size: 1.125em;
}

.botao a {
    color: var(--cor05);
    text-transform: uppercase;
    font-weight: bold;
}

.botao:hover {
    background-image: linear-gradient(var(--cor04), #F2A50C);
}


/* ESCOLHA */

.escolha {
    margin: 80px 0;
}

.titulo-preto {
    font-size: 4em;
    text-transform: lowercase;
    margin: 0 20px 40px 20px;
    padding: 0px calc((100% - 1200px) / 2);
}

.ponto:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background: var(--cor04);
    margin-left: 5px;
}

.box-itens-escolha {
    display: flex;
    padding: 0 20px 20px 20px;
    overflow-x: auto;
    max-width: 1440px;
    margin: 0 auto;
}

.item-escolha {
    flex: 1 1 380px;
    min-width: 280px;
    margin-right: 40px;
}

.item-escolha:last-child {
    margin-right: 0px;
}

.desc-img h2 {
    font-size: 2em;
    color: var(--cor01);
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.desc-img h2::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 7px;
    background: var(--cor04);
    margin-right: 10px;
    transition: 0.3s;
}

.desc-img h2:hover::before {
    width: 24px;
}

.desc-img p {
    font-size: 1.125em;
    color: var(--cor06);
    margin-left: 24px;
}


/* TECNOLOGIA */

.tecnologia {
    background-color: var(--cor07);
    box-shadow: inset 0 80px var(--cor02), inset 0 -80px var(--cor02);
    display: flex;
    padding: 0px calc((100% - 1200px) / 2);
}

.box-tec-img {
    margin: 0 20px;
    flex: 1 1 300px;
}

.tec-img {
    height: 100%;
}

.box-tecnologia {
    align-self: center;
    flex: 1 1 300px;
    margin: 80px 20px;
}

.tec-artigo {
    margin: 80px 0px;
}

.tec-artigo span {
    display: block;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--cor03);
    padding-bottom: 20px;
}

.tec-artigo p {
    font-size: 1.5em;
    color: var(--cor03);
    padding-bottom: 20px;
}

.link-tec {
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--cor04);
}

.link-tec::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    background: currentColor;
}

.link-tec:hover {
    color: var(--cor02);
}

.titulo-branco {
    font-size: 4em;
    color: var(--cor02);
    padding-bottom: 30px;
}

.box-tec-vantagem {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.tec-vantagem {
    flex: 1 1 230px;
    padding-top: 15px;
}

.tec-vantagem:first-child {
    padding-right: 15px;
}

.tec-vantagem img {
    width: 25px;
}

.tec-vantagem h3 {
    font-size: 1.125em;
    font-weight: 500;
    color: var(--cor02);
    padding: 10px 0;
}

.tec-vantagem p {
    padding-bottom: 0px;
    font-size: 1em;
}


/* PARCEIROS */

.parceiros {
    margin: 140px 0;
}