    @charset "UTF-8";
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.1em;
    }
    
    body {
        background: rgb(19, 19, 19) url('img/background-pizza.png') no-repeat top center;
        background-size: 100%;
    }
    /* TOPO */
    
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.397);
    }
    
    .box-topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 40px;
    }
    
    .menu ul {
        display: flex;
    }
    
    .menu ul li {
        list-style-type: none;
        margin-left: 100px;
    }
    
    .menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
    }
    /* FIM TOPO */
    
    main {
        width: 90%;
        padding: 40px;
        margin: 0 auto;
    }
    /* HOME */
    
    #home {
        color: white;
        height: 60vh;
        margin: 20px 0px;
    }
    
    #home ul {
        list-style: none;
    }
    
    #home ul li {
        font-family: 'Reenie Beanie', cursive;
        font-size: 2.5em;
    }
    
    #home ul li::before {
        content: '\00b0\0020';
        color: rgb(208, 163, 48);
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
    }
    /* FIM HOME */
    /* SABORES */
    
    #sabores {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    
    .titulos {
        display: inline-block;
        background: rgba(0, 0, 0, 0.397);
        color: white;
        padding: 20px;
        margin-bottom: 40px;
        border-radius: 15px;
        text-transform: uppercase;
        font-weight: 100;
    }
    
    .box-ingredientes {
        width: 100%;
        margin: 90px auto;
    }
    
    .box-ingredientes table th {
        background: rgb(42, 42, 42);
        color: rgb(77, 77, 75);
        text-transform: uppercase;
        text-align: center;
        font-size: 0.7em;
        width: calc(70% / 5);
        padding: 20px;
        color: rgb(77, 77, 75);
    }
    
    .box-ingredientes table td {
        background: rgb(42, 42, 42);
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.7em;
        width: calc(70% / 5);
        padding: 20px;
    }
    
    .box-ingredientes table td.txt-positivo {
        color: green;
        font-weight: 600;
    }
    
    .box-ingredientes table td.txt-negativo {
        color: rgb(180, 61, 61);
        font-weight: 600;
    }
    /* FIM SABORES */
    /* CONTATO */
    
    #contato {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    
    form {
        display: flex;
        flex-flow: column wrap;
        text-transform: uppercase;
        font-size: 0.8em;
        color: white;
        width: 50%;
    }